body{
  font-family: Noto Sans Semibold,Noto Sans Regular;
}
$green-light:#f3faf5;
$green-light-hover:#edf7f0;
$green-light-active:#d9efdf;
$green-normal:#84cb98;
$green-normal-hover:#77b789;
$green-normal-active:#6aa27a;
$green-dark:#639872;
$green-dark-hover:#4f7a5b;
$green-dark-active:#3b5b44;
$green-darker:#2e4735;

$blue-light:#f3f4fb;
$blue-light-hover:#edeff9;
$blue-light-active:#dadef3;
$blue-normal:#8894d8;
$blue-normal-hover:#7a85c2;
$blue-normal-active:#6d76ad;
$blue-dark:#666fa2;
$blue-dark-hover:#525982;
$blue-dark-active:#3d4361;
$blue-darker:#30344c;

$grey-light:#e9eaed;
$grey-light-hover:#dee0e4;
$grey-light-active:#bcbec7;
$grey-normal:#262e49;
$grey-normal-hover:#222942;
$grey-normal-active:#1e253a;
$grey-dark:#1d2337;
$grey-dark-hover:#171c2c;
$grey-dark-active:#111521;
$grey-darker:#0d101a;

$brown-light:#fcf6f1;
$brown-light-hover:#faf1ea;
$brown-light-active:#f5e2d4;
$brown-normal:#dfa175;
$brown-normal-hover:#c99169;
$brown-normal-active:#b2815e;
$brown-dark:#a77958;
$brown-dark-hover:#866146;
$brown-dark-active:#644835;
$brown-darker:#4e3829;

$black-light:#e6e6e6;
$black-light-hover:#d9d9d9;
$black-light-active:#b0b0b0;
$black-normal:#000000;
$black-normal-hover:#000000;
$black-normal-active:#000000;
$black-dark:#000000;
$black-dark-hover:#000000;
$black-dark-active:#000000;
$black-darker:#000000;

$white-light:#ffffff;
$white-light-hover:#ffffff;
$white-light-active:#ffffff;
$white-normal:#ffffff;
$white-normal-hover:#e6e6e6;
$white-normal-active:#cccccc;
$white-dark:#bfbfbf;
$white-dark-hover:#999999;
$white-dark-active:#737373;
$white-darker:#595959;

$spacing-xxs:4px;
$spacing-xs:8px;
$spacing-s:12px;
$spacing-m:16px;
$spacing-l:20px;
$spacing-xl:24px;
$spacing-2xl:40px;
$spacing-3xl:48px;
$spacing-4xl:56px;
$spacing-5xl:64px;

@font-face {
  font-family: Noto Sans Semibold;
  src: url(assets/fonts/NotoSansTC-SemiBold.ttf);
}
@font-face {
  font-family: Noto Sans Regular;
  src: url(assets/fonts/NotoSansTC-Regular.ttf);
}
